.footer {
  background-color: theme-color("light");
  color: $black;
  //padding: gutter(6) 0 0;
  //border-top: 1px solid $grey;

  &__brand {
    margin-bottom: $gutter * 3;
    display: block;
    max-width: gutter(25);

    @include media("md") {
      display: block;
      margin-bottom: 0;
    }
  }

  &__title {
    font-weight: 700;
    margin-bottom: $gutter * 2;
    max-width: $gutter * 26;
    color: $primary;
  }

  &__text {
    color: $black;
    margin-bottom: $gutter * 4;
  }

  &__link-list {
    display: flex;
    padding: 0;
    list-style: none;
    margin-top: $gutter;
  }

  &__link-item {
    margin-right: $gutter;
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: $gutter * 0.5;

    &:nth-of-type(1) {
      margin-bottom: gutter(5);
    }
  }

  &__link {
    color: $primary;
    font-size: 16px;

    &:hover {
      color: $secondary;
    }
  }

  &__info-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__info-content {
    font-weight: 400;
  }

  &__bottom {
    border: 1px solid $grey;
    //margin-top: gutter(4);
  }

  &__baner {
    max-width: 100%;
    display: block;
    padding: gutter(2) 0;

    @include media("md") {
      //border-right: 1px solid $grey;
      padding: gutter(2) gutter(6) gutter(2) 0;
    }
  }

  &__made-wrapper {
    background-color: theme-color("special_dark");
  }

  &__columns {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    @include media("md") {
      grid-template-columns: 1fr;
    }
  }

  &__made-by {
    display: block;
    margin: ($gutter * 3) auto;
    padding: 0;
    width: gutter(8);

    @include media("md") {
      width: gutter(10);
    }
  }
}
