.posts-project {
  padding: 0;
  display: grid;
  grid-gap: gutter(2);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  color: theme-color("light");
  margin-top: gutter(4);

  @include media("md") {
    grid-template-columns: repeat(3, 1fr);
  }

  &__item,
  li {
    background-color: $primary-light;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition;

    &::before {
      display: none;
    }

    &:hover {
      background-color: $secondary;
      color: theme-color("light");
    }

    &:nth-child(2n) {
      background-color: $primary;

      &:hover {
        background-color: darken($secondary, 20);
      }
    }
  }

  &__elem {
    position: relative;
    padding: gutter(2) gutter(2) gutter(4);
    color: theme-color("light") !important;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;

    &--post {
      padding: gutter(2) gutter(1.5) gutter(5);
    }

    &:hover {
      color: inherit;

      svg {
        transform: translateX(5px);
      }
    }
  }

  &__title {
    margin-bottom: gutter(1) !important;
  }

  &__desc {
    font-size: 14px !important;
    opacity: 0.9;
  }

  &__svg {
    fill: $white;
    transition: $transition;
  }
}
