.raports {
  padding: ($gutter * 1.3) 0;

  .wp-block-column {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    flex-basis: 100%;
    grid-gap: $gutter * 3;
    margin: 0;

    @include media("md") {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .wp-block-file {
    margin: 0;

    a {
      @include font-size("subheader");

      padding: $gutter * 3;
      background-color: theme-color("greyy");
      font-weight: 700 !important;
      display: flex;
      align-items: flex-start;
      border-radius: $gutter;
      text-decoration: none !important;
      color: theme-color("special_dark") !important;

      &::before {
        content: url("../images/files.svg");
        margin-right: $gutter * 3;
        transition: $transition;
      }

      &:hover {
        background-color: theme-color("special");
        color: theme-color("light") !important;

        &::before {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}
