.text-img {
  $root: &;

  padding: ($gutter * 2.5) 0;

  @include media(md) {
    padding: ($gutter * 5) 0;
  }

  &--rev {
    #{$root}__content {
      order: -1;

      @include media(sm) {
        order: -1;
      }
    }
  }

  &__image-wrapper {
    order: 0;
  }

  &__map-wrapper {
    padding: 0;
  }

  &__image {
    width: 100%;
    margin-top: $gutter * 2;

    &--bg {
      @extend .image;
      @extend .absolute;

      opacity: 0.1;
    }

    @include media(sm) {
      object-fit: cover;
      object-position: center;
      height: 100%;
      margin-top: 0;
    }
  }

  &__content {
    order: -1;
    z-index: 10;

    @include media(sm) {
      order: 0;
      padding: $gutter * 2 15px;

      &--has-bg {
        padding-left: $gutter * 3 !important;
      }
    }
  }
}

.kontakt {
  .text-img {
    padding: ($gutter * 2.5) ($gutter * 0);

    @include media(md) {
      padding: ($gutter * 10) ($gutter * 5);
    }

    &__image--bg {
      display: none;
    }
  }
}
