@mixin media($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($media, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($media, $breakpoint);

    // Write the media query.
    @media (min-width: ($breakpoint-value)) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  }

  @else {
    // Log a warning.
    @warn "Invalid breakpoint: #{$breakpoint}.";
  }
}

@mixin font-size($type) {
  @if map-has-key($font-size, $type) {
    $size: map-get($font-size, $type);

    font-size: nth($size, 2);

    @include media(md) {
      font-size: nth($size, 1);
    }
  }

  @else {
    @warn "Invalid type: #{$breakpoint}.";
  }
}
